* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202124;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1000px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
 
}

.difficulty {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.difficulty button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 15px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background: royalblue;
  border-radius: 10px;
  cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
}